# Live Database
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/nexus-founders?retryWrites=true&w=majority

# Local Database
MONGODB_URI=mongodb://127.0.0.1:27017/nexus-founders

NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# AWS S3 Configuration
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_BUCKET_NAME=f2fintechcustomerdocs

